@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --clr-accent: hsl(243, 100%, 69%);
    --clr-error: hsl(15, 80%, 45%);
    --clr-btn-txt: hsl(0, 0%, 100%);

    --bd-rad: 0.5rem;
}

body[data-theme="light"] {
    --clr-bg: hsl(0, 0%, 100%);
    --clr-txt: hsl(200, 30%, 10%);
    --clr-outline: hsl(0, 0%, 75%);
    --clr-icon: hsl(0, 0%, 65%);
}

body[data-theme="dark"] {
    --clr-bg: hsl(0, 0%, 15%);
    --clr-txt: hsl(0, 0%, 100%);
    --clr-outline: hsl(0, 0%, 50%);
    --clr-icon: hsl(0, 0%, 50%);
}

/* Default styles */

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--clr-bg);
    color: var(--clr-txt);
    transition: all ease-in-out 0.1s;
}

main {
    width: fit-content;
    max-width: 45rem;
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

button {
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

ul {
    list-style: none;
}

.input,
.btn.default {
    font-size: 1rem;
    padding: 0.5rem 1rem;

    border-radius: var(--bd-rad);
    transition: all ease-in-out 0.1s;
}

.input {
    --bd-width: 1px;
    --bd-clr: var(--clr-outline);

    border: transparent;
    box-shadow: 0 0 0 var(--bd-width) var(--bd-clr);

    background-color: var(--clr-bg);
    color: var(--clr-txt);

    &.error {
        --bd-clr: var(--clr-error);
    }

    &:focus {
        --bd-width: 3px;
        --bd-clr: var(--clr-accent);

        outline: transparent;
    }
}

.btn.default {
    border: 1px solid var(--clr-accent);

    background-color: var(--clr-accent);
    color: var(--clr-btn-txt);

    &:hover {
        background-color: hsl(from var(--clr-accent) h s 63%);
        border-color: hsl(from var(--clr-accent) h s 63%);
    }
}

.btn.transparent {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--clr-icon);

    &:hover {
        color: var(--clr-txt);
    }
}

/* Header */

.header {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    /* Top part includes search, new task button and theme switch */

    & .header__top {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.5rem;

        & .input.search {
            width: 30ch;
            min-width: 10ch;
        }

        & .header__buttons {
            display: flex;
            justify-content: inherit;
            align-items: inherit;
            gap: inherit;

            & .btn#theme-switch {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0.5rem;
            }
        }
    }

    /* Bottom part includes filters: all, active, finished */

    & .header__bottom .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        & .filter {
            cursor: pointer;
            text-decoration: underline;

            transition: all ease-in-out 0.1s;

            &:hover {
                color: var(--clr-accent);
            }
        }
    }
}

/* Styles for task list and task cards */

.task-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    & .task-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        max-width: 100%;
        padding: 0.5rem;

        border-bottom: 1px solid var(--clr-accent);

        & input[type="checkbox"] {
            position: absolute;
            left: -1000%;
            top: -1000%;

            &:checked + .custom-checkbox {
                background-color: var(--clr-accent);

                & > span {
                    color: var(--clr-btn-txt);
                }
            }

            &:checked ~ .task-card__text {
                text-decoration: line-through;
                color: var(--clr-icon);
            }
        }

        & .custom-checkbox {
            cursor: pointer;
            user-select: none;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 1.25rem;
            aspect-ratio: 1 / 1;
            border: 1px solid var(--clr-accent);
            border-radius: calc(var(--bd-rad) / 2);

            & > span {
                color: var(--clr-bg);
                line-height: 1rem;
            }
        }

        & .task-card__main {
            width: 90%;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 1rem;

            flex-grow: 1;

            & .task-card__text {
                display: block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
        }
    }
}

/* Modal styles that include background and the modal itself */

.modal-bg {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--clr-bg);
    padding: 1.5rem;
    border-radius: var(--bd-rad);

    & .modal__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }

    & > .input-box {
        display: flex;
        flex-direction: inherit;
        gap: 0.5rem;
    }
}
